* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

body {
    background: white;
  
}

.title {
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: .2em;
}

.haring-art {
    background-image: url(images/keith-haring.jpg);
    background-repeat: no-repeat;
/*    position: fixed;*/
    height: 650px;
}

.event-primary {
	margin-top: 1em;
	margin-right: .5em;
	font-size: 1.2em;
}

.btn {
   color: black;
}

@media screen and (min-width: 800px) {
    body {
        background: white;
    }
}
